{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet"  href={% static 'styleabout.css'%}>
</head>
<body>

    <header>
        <h1>About Our Company</h1>
        <p>Building Innovative Solutions for a Better Tomorrow</p>
    </header>

    <section class="about-container">
        <div class="about-section">
            <h2>Who We Are</h2>
            <p>
                AgileTrailBlazers are architects for enhancing an organization's potential.
                We understand that true value isn't solely about optimizing processes,
                but about unleashing the inherent power of advanced technology with a dash of Artificial Intelligence.
                Our philosophy is to build sustainable organizations by unlocking the technology's capabilities.
            </p>
        </div>

        <div class="about-section">
            <h2>Agnostic. Transformative. Blazing</h2>
            <p>
                Federal modernization hinges on effectively harnessing the power of technology to enhance efficiency,
                improve citizen services, bolster cybersecurity, and foster innovation.
                By automating tasks, leveraging cloud computing, and utilizing data analytics, 
                agencies can streamline operations and free up resources for strategic initiatives. 
                ears of advancements helped build ATB from scratch and become a Federal Transformation specialist.
            </p>
        </div>

        <div class="about-section">
            <h2>Our mission</h2>
            <p>
                To drive sustainable competitive advantage for large organizations by unlocking 
                the transformative potential of AI-powered technologies to revolutionize business models, 
                enhance customer experiences, and achieve unprecedented growth.
            </p>
        </div>

        <div class="about-section">
            <h2>Our vision</h2>
            <ul>
                ATB envisions to transform every Federal Agency in the US to be centered around technology and innovation. 
                They want these agencies to adopt AI to enhance productivity and efficiency of their employees.


            </ul>
        </div>

        <div class="about-section">
            <h2>Why Choose Us?</h2>
            <p>
                We combine technical expertise, innovative thinking, and a
                customer-first approach to deliver outstanding results. Our
                commitment to excellence ensures that every project is completed
                with the highest standards of quality and professionalism.
            </p>
        </div>
    </section>

    <footer>
        <p>&copy; 2026 ATB. All Rights Reserved.</p>
    </footer>

</body>
</html>