{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexora Landing Page</title>
    <link rel="stylesheet" href={% static 'style.css'%}
</head>
<body>

    <!-- Navigation -->

    <nav class="navbar">
        <div class="logo">AGILETRAILBLAZERS</div>

        <ul class="menu">
            <li><a href="http://127.0.0.1:8000/">Home</a></li>        
            <li><a href="about">about</a></li>        
            <li><a href="service">service</a></li>       
            <li><a href="contact">Contact</a></li>

        </ul>

        <a>Get Started</a>
    </nav>

    <!-- Hero Section -->

    <section class="hero" id="home">

    <div class="content">
        <h1>Design Your Digital Future</h1>

        <p>
            We create beautiful websites, powerful applications,
            and innovative digital experiences.
        </p>

        <div class="hero-buttons">
            #servicesExplore</a>
            #about">Learn More</a>
        </div>

    </div>

</section>

<section id="about" class="services">

    <h2>About Us</h2>

    <p style="max-width:800px;margin:auto;line-height:1.8;">
        Nexora is a creative digital agency dedicated to delivering
        innovative web solutions, modern design, and exceptional user experiences.
    </p>

</section>


    <!-- Services Section -->

    <section id="services" class="services">

    <h2>Our Services</h2>

    <div class="service-container">

        <div class="service-card">
            <div class="service-icon">💻</div>
            <h3>Web Design</h3>
            <p>Modern, responsive, and attractive websites.</p>
        </div>

        <div class="service-card">
            <div class="service-icon">⚙️</div>
            <h3>Development</h3>
            <p>Fast and secure web applications.</p>
        </div>

        <div class="service-card">
            <div class="service-icon">📈</div>
            <h3>SEO</h3>
            <p>Improve search visibility and traffic.</p>
        </div>

    </div>

</section>